![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [293]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...
price = pd.read_csv('data/airbnb_price.csv')
room_type = pd.read_excel('data/airbnb_room_type.xlsx')
last_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')
print(price.head())
print('\n')
print(room_type.head())
print('\n')
print(last_review.head())
print('\n')
listings = pd.merge(price, room_type, on='listing_id')
listings = pd.merge(listings, last_review, on='listing_id')
listings.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown


   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt


   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

**What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.**

In [294]:
listings['last_review'].info()

<class 'pandas.core.series.Series'>
Int64Index: 25209 entries, 0 to 25208
Series name: last_review
Non-Null Count  Dtype
--------------  -----
25209 non-null  object
dtypes: object(1)
memory usage: 393.9+ KB

In [295]:
listings['last_review'].value_counts()

June 23 2019        1413
July 01 2019        1359
June 30 2019        1341
June 24 2019         875
July 07 2019         718
                    ...
February 04 2019       8
February 27 2019       8
February 05 2019       7
February 13 2019       6
July 09 2019           1
Name: last_review, Length: 190, dtype: int64

In [296]:
listings['last_review'] = pd.to_datetime(listings['last_review']).dt.date
print(last_review.head())

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [297]:
first_reviewed = listings['last_review'].min()
print(first_reviewed)

2019-01-01

In [298]:
last_reviewed = listings['last_review'].max()
print(last_reviewed)

2019-07-09

**How many of the listings are private rooms? Save this into any variable.**

In [299]:
listings.head()

   listing_id        price  ...    host_name last_review
0        2595  225 dollars  ...     Jennifer  2019-05-21
1        3831   89 dollars  ...  LisaRoxanne  2019-07-05
2        5099  200 dollars  ...        Chris  2019-06-22
3        5178   79 dollars  ...     Shunichi  2019-06-24
4        5238  150 dollars  ...          Ben  2019-06-09

[5 rows x 7 columns]

In [300]:
listings['room_type'].value_counts()

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [301]:
listings['room_type'] = listings['room_type'].str.lower()
listings['room_type'].value_counts()

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [302]:
nb_private_rooms = len(listings[listings['room_type'] == 'private room'])
print(nb_private_rooms)

11356

**What is the average listing price? Round to the nearest penny and save into a variable.**

In [303]:
listings.head()

   listing_id        price  ...    host_name last_review
0        2595  225 dollars  ...     Jennifer  2019-05-21
1        3831   89 dollars  ...  LisaRoxanne  2019-07-05
2        5099  200 dollars  ...        Chris  2019-06-22
3        5178   79 dollars  ...     Shunichi  2019-06-24
4        5238  150 dollars  ...          Ben  2019-06-09

[5 rows x 7 columns]

In [304]:
listings['price'].value_counts()

150 dollars     982
100 dollars     891
60 dollars      717
50 dollars      709
75 dollars      691
               ...
1250 dollars      1
555 dollars       1
689 dollars       1
394 dollars       1
323 dollars       1
Name: price, Length: 536, dtype: int64

In [305]:
listings['price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 25209 entries, 0 to 25208
Series name: price
Non-Null Count  Dtype
--------------  -----
25209 non-null  object
dtypes: object(1)
memory usage: 393.9+ KB

In [306]:
listings['price'] = listings['price'].str.strip('dollars').astype('float')
print(listings.head())

   listing_id  price  ...    host_name last_review
0        2595  225.0  ...     Jennifer  2019-05-21
1        3831   89.0  ...  LisaRoxanne  2019-07-05
2        5099  200.0  ...        Chris  2019-06-22
3        5178   79.0  ...     Shunichi  2019-06-24
4        5238  150.0  ...          Ben  2019-06-09

[5 rows x 7 columns]

In [307]:
avg_price = listings['price'].mean().round(2)
print(avg_price)

141.78

**Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.**

In [308]:
review_dates_dict = {
    'first_reviewed':first_reviewed,
    'last_reviewed':last_reviewed,
    'nb_private_rooms':nb_private_rooms,
    'avg_price':avg_price
}
review_dates = pd.DataFrame(review_dates_dict, index=[0])
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78